body 
{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #B1A296;
    font-size: 16px;
}
  /* Name */
  h2 {
    padding: 10px;
    padding-left: 25px;
    color: #ccc;
    margin: 0;
  }
  h2 strong {
    z-index: 2;
    background: #24282f;
    padding: 4px 8px;
  }
  h2 span {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 10px;
  }
  h2:after {
    content: '';
    z-index: 1;
    bottom: 50%;
    margin-bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    background: #373d47;
  }
/* Search */
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
/* End Search */

  /*Profile  Cards */
  /* body {
    background-color: #f9f9fa
} */

/* Cards */
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}