<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/Css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
 <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> -->
</head>
<body>
	<header>
	    <nav class="navbar navbar-dark navbar-expand-sm " style="color: #000 !important;">
	        <div class="container">
	                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" style="background-color:  #000;">
	                  <span class="navbar-toggler-icon"></span>
	                </button>
	            <a class="navbar-brand mr-auto" href="#"><img src="../static/img/logo.png" height="50" width="50"></a>
				{%if current_user.is_authenticated %}
				<a class="navbar-brand mr-auto" href="#"><img src="../static/img/default_pf.png" height="50" width="50"></a>
				{% endif %}
	            <div class="collapse navbar-collapse" id="Navbar" style="font-size: 15px;">
					<ul class="navbar-nav mr auto" style="font-size: 15px;">
						<li class="nav-item"><a class="nav-link" href="/"  style="color: #696969;"><span class="fa fa-home fa-lg"> </span>Home</a></li>

						{%if not current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="/login"  style="color: #252525;"><i class="fa fa-sign-out"></i> </span>Login</a></li>
						{% endif %}

						<li class="nav-item"><a class="nav-link" href="/allblogs"  style="color: #696969;"><i class="fa fa-info-circle"></i> </span>Blogs</a></li>

						{% if current_user.is_authenticated %}
						  <li class="nav-item"><a class="nav-link" href="/addblog/{{current_user.id}}"  style="color: #696969;"><i class="fa fa-address-card"></i> </span>Add Blog</a></li>
						{% endif %}

						{%if current_user.is_authenticated %}
						  <li class="nav-item"><a class="nav-link" href="/searchusers"  style="color: #696969;"><i class="fa fa-sign-out"></i> </span>Search</a></li>
						{% endif %}

						<li class="nav-item"><a class="nav-link" href="/news"  style="color: #696969;"><i class="fa fa-file"  style="color: #696969;"></i> </span>News </a></li>


						{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="/todolist/{{current_user.id}}"  style="color: #696969;"><i class="fa fa-user-md"></i> </span>To-Do List</a></li>
						{% endif %}

						{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="/submitquiz/{{current_user.id}}"  style="color: #696969;"><i class="fa fa-question"></i> </span>Quiz </a></li>
						<li class="nav-item"><a class="nav-link" href="/userprofile/{{current_user.id}}"  style="color: #696969;"><i class="fa fa-user"></i> </span>My Profile</a></li>
						{% endif %}

						{%if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="/logout"   style="color: #696969;"><i class="fa fa-sign-out"  style="color:#696969;"></i> </span>Log Out </a></li>
						{% endif %}

						<li class="nav-item"><a class="nav-link" href="/aboutus"  style="color: #696969;"><i class="fa fa-info"></i> </span>About Us</a></li>

						<!-- <li class="nav-item"><a class="nav-link" href="/aboutus"  style="color: #696969;"><i class="fa fa-info"></i> </span>About Us</a></li> -->
						</ul>
	            </div>
	            <div>
	             <h2 style="color: #000;"> Updating Gen-Z</h2>
	            </div>
	        </div>
	    </nav>
	</header>

<p>
	<div class="row justify-content-center" >
    <div class="col-12 col-md-10 col-lg-8">
      <h1 style="color: #000;text-align: center;">Blogs</h1><br>
        <form class="card card-sm" style="background-color: #5a693d;" method="POST">
            <div class="card-body row no-gutters align-items-center">

                <div class="col-auto">
                    <i class="fa fa-search h4 text-body" style="color: #edc7b7;"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input name="query" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" style="background-color: #feffff;"/>
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg" formaction="/searchblogs" type="submit" style="background-color: #baeca5;color: #000;">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>

</p>
<div class="container row">
	<main class="container">
		<div class="h1 text-center" id="pageHeaderTitle"></div>
		{% for blog in blogs %}
		<article class="postcard blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/img/default_blogpicture.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">{{blog.title }}</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>{{blog.date}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{blog.post}}</div>
				<ul class="postcard__tagbox">
					<li class="tag__item">{{ blog.topic }}</li>
					<li class="tag__item">{{ blog.user_id }}</li>
					<li class="tag__item play blue"><a href="#">Score -  {{blog.likes}}</a></li>
				</ul>
			</div>
		</article>
		{% endfor %}



		<article class="postcard yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Blog Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item">Domain</li>
					<li class="tag__item">User Name</li>
					<li class="tag__item play blue"><a href="#">User_Score</a></li>
				</ul>
			</div>
		</article>
	</main>
</div>
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
	<footer>
		<div class="row my-5 justify-content-center py-5">
			<div class="col-11">
				<div class="row ">
					<div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
						<h3 class="text-muted mb-md-0 mb-5 bold-text">Updating GEN-Z</h3>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-12">
						<h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
							<li><a href="/allblogs">All Blogs</a></li>
							<li><a href="/news">News</a></li>
						</ul>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-12">
						<h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
						<p class="mb-1">VIT</p>
						<p>Wadala</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
						<p class="social text-muted mb-0 pb-0 bold-text">
						   <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span>
						   <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
						   <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span>
						   <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span>
					   </p>
					   <small class="rights"><span>&#174;</span>Team gen-z </small>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
						<h6 class="mt-55 mt-2 text-muted bold-text"><b>Contact Us</b></h6><small>
						   <span><i class="fa fa-info" aria-hidden="true"></i></span> <a href="/aboutus">About Us</a></small>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
						<h6 class="mt-55 mt-2 text-muted bold-text"><b>Give Your Feedback</b></h6><small>
						   <span><i class="fa fa-envelope" aria-hidden="true"></i></span> updating.genz@gmail.com</small>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</html>
